body{

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(/bg1.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.intro{
    display:flex;
    color:white;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    
}

.intro #introTitle{
   color:rgb(0, 178, 223);
   margin-right:20px;
   
}

#the{
    margin-right: 20px;
    color:rgba(74, 241, 110, 0.61);
}

.typing{
    position: relative;
    /* margin-left:10px; */
}

.typing::after{
    content:"";
    position: absolute;
    right:-5px;
    width:3px;
    height: 40px;
    border-right:2px solid rgb(12, 140, 245);
    animation: flash 0.5s infinite ease-in-out;
}

@keyframes flash{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}