body{

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(rgba(29, 29, 29, 0.808),rgba(0,0,0,0.5)),url(/bg3.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* overflow: hidden; */
    outline:none;
}

.img{
    display: flex;
    align-items: center;
    justify-content: center;
    
   
}

.img img{
    /* height: auto; */
    max-width: 240px;
    margin-top:10rem;
    border-radius: 5%;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.603); */
}

.intro{
    
    /* border:1px solid red; */
    display:flex;
    color:white;
    margin-top:0vh;
    min-height: 10vh;
    align-items: center;
    justify-content:center;
    outline:none;

    
}

.intro #introTitle{
   color:rgb(0, 178, 223);
   margin-right:20px;
   
}


#the{
    margin-right: 20px;
    color:rgba(74, 241, 110, 0.61);
}

.typing{
    position: relative;
    margin-left:10px;
}

.typing::after{
    content:"";
    /* display: inline; */
    position:absolute;
    right:-5px;
    width:3px;
    height: 40px;
    border-right:2px solid rgb(29, 1, 1);
    animation: flash 0.5s infinite ease-in-out;
    /* cursor: pointer; */
}

@keyframes flash{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


/* Styling ICONS */
.content{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;

}

.content a{
    /* border: 1px solid black; */
    margin:0 15px;
    text-decoration: none;
    background:none;

    /* all:unset; */

}

.content #github{
    color: rgb(0, 0, 0);;
}


.content #resume{
    color: rgba(75, 240, 25, 0.575);;
}

.content #linken{
    color: rgba(28, 40, 218, 0.658);;
}

/* Styling Buttons  */
.boxes{
  
/* border:1px solid red; */
display: flex;
align-items: center;
justify-content: center;
margin-top:2rem;
float: center;
padding:1px;
}


.boxes button{
    padding: 0.5rem 1rem;
    border:none;
    color:#ffff;
    background:#333;
    margin:0 0.5rem;
    outline: none;
    font-size:1.25rem;
    border-radius: 10px;
    text-transform: capitalize;

}

.boxes button:hover{
    background:#ffff;
    color:#333;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.082), 0 6px 20px 0 rgba(0, 0, 0, 0.034);

}

.bubble{
    /* border:1px solid red; */
    background: #00aabb;
    border-radius: .3em;
    padding: 0 1.2rem;
}

.bubble:after{
    display: flex;
    align-items: center;
    justify-content: center;
    content: '';
    position: absolute;
    top: 23rem;
    /* left: 50%; */
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom-color: #00aabb;
    border-top:0;
    border-left: 0;
}

/* New bubble 1 */
.speech{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 1.1em; */
    background:#41b2ce;
    color:#ffff;
    border-radius: 10px;
    padding:0.2rem 1rem;
    max-width: 400px;
    margin-top:1rem;
}

/* Creating the speech bubble tail */
.topTail:after{
    /* Creating the SPEECH BUBBLE TRIANGLE */
    content: '';
    border: 20px solid transparent;
    border-bottom-color: #41b2ce;
    border-top:10px;
    border-left: 20px;

    /* POSITIONING the speech bubble triangle */
    position: absolute;
    top: -20px;
    left:50%;
    margin-left: -20px;
}
