body{

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(/bg1.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow: hidden;
    outline:none;
}

.img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img img{
    height: 20vh;
    /* border:1px solid red; */
    margin-top:10rem;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.intro{
    
    /* border:1px solid red; */
    display:flex;
    color:white;
    margin-top:0vh;
    min-height: 10vh;
    align-items: center;
    justify-content:center;
    outline:none;

    
}

.intro #introTitle{
   color:rgb(0, 178, 223);
   margin-right:20px;
   
}


#the{
    margin-right: 20px;
    color:rgba(74, 241, 110, 0.61);
}

.typing{
    position: relative;
    /* margin-left:10px; */
}

.typing::after{
    content:"";
    position: absolute;
    right:-5px;
    width:3px;
    height: 40px;
    border-right:2px solid rgb(12, 140, 245);
    animation: flash 0.5s infinite ease-in-out;
}

@keyframes flash{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


/* Styling ICONS */
.content{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;

}

.content a{
    /* border: 1px solid black; */
    margin:0 15px;
    text-decoration: none;
    background:none;

    /* all:unset; */

}

.content #github{
    color: rgb(0, 0, 0);;
}


.content #resume{
    color: rgba(75, 240, 25, 0.575);;
}

.content #linken{
    color: rgba(28, 40, 218, 0.658);;
}

/* Styling Buttons  */
.boxes{
  
/* border:1px solid red; */
display: flex;
align-items: center;
justify-content: center;
margin-top:2rem;
float: center;
padding:1px;
}

.boxes button{
    padding: 0.5rem 1rem;
    border:none;
    color:#ffff;
    background:#333;
    margin:0 0.5rem;
    outline: none;
    font-size:1.25rem;
    border-radius: 10px;
    text-transform: capitalize;

}

.boxes button:hover{
    background:#ffff;
    color:#333;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.082), 0 6px 20px 0 rgba(0, 0, 0, 0.034);

}
