body{
    min-height: 100vh;
    padding:0;
    margin:0;
    display: flex;
    /* background:url("/bg1.jpg"); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
  

}

.container{
    border:1px solid yellow;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex:0 0 100%;
}

.container img{
    height: 25vh;
    margin-bottom: 30rem;
    border-radius: 29px;
    border: none;
    outline: none;
    padding:0.5rem;
}
.intro{
    border:1px solid red;
    display:flex;
    color:rgb(173, 15, 15);
    margin-top:50vh;
    min-height: 10vh;
    align-items: center;
    justify-content: center;
    margin:0;
    
}


.intro #introTitle{
    color:rgb(0, 178, 223);
    margin-right:20px;
    
 }
 
 
 #the{
     margin-right: 20px;
     color:rgba(74, 241, 110, 0.61);
 }
 
 .typing{
     position: relative;
     /* margin-left:10px; */
 }
 
 .typing::after{
     content:"";
     position: absolute;
     right:-5px;
     width:3px;
     height: 40px;
     border-right:2px solid rgb(12, 140, 245);
     animation: flash 0.5s infinite ease-in-out;
 }
 
 @keyframes flash{
     0%{
         opacity: 0;
     }
     100%{
         opacity: 1;
     }
 }